@{
    ViewData["Title"] = "Reporte";
    ViewData["Navbar-Title"] = "Reporte > Seguimiento por Tareas";
}
@model wDualAssistence.Models.ViewModelBase;



<div class="content-wrapper">
    <div class="content">
        <div class="panel panel-default">
            <div class="panel-heading heading-primary">
                <span class="capa_btn info">
                    <button type="submit" class="btn btn-base crear" onclick="toExcel()">
                        <span class="fa span-button fa-file-excel-o"></span>
                        <p class="text-button-primary">Exportar</p>
                    </button>
                </span>
            </div>
            <div class="panel-body">
                <section class="content-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2">
                            <h4> Desde:</h4>
                            <div id="datetimepicker-control">
                                <ejs-datepicker id="desde" placeholder="Selecione la fecha" format="dd-MMM-yyyy" value="@DateTime.Now.AddDays(-1)" locale="es"></ejs-datepicker>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2">
                            <h4> Hasta:</h4>
                            <div id="datetimepicker-control">
                                <ejs-datepicker id="hasta" placeholder="Selecione la fecha" format="dd-MMM-yyyy" value="@DateTime.Now" locale="es"></ejs-datepicker>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <a id="exportar" href="" target="_blank"></a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function toExcel() {
            var desde = document.getElementById('desde').ej2_instances[0].value.toString();
            var hasta = document.getElementById('hasta').ej2_instances[0].value.toString();

            var posGMT = (desde.indexOf("GMT"));
            desde = desde.substring(0, posGMT);
            hasta = hasta.substring(0, hasta.indexOf("GMT"));

            document.getElementById('exportar').href = '@Url.Action("RptSeguimientoTareaEXCEL", "Reporte")/' + desde + '/' + hasta;
            document.getElementById('exportar').click();
        }

    </script>
}