
@{
    ViewData["Title"] = "Index";
    Layout = "";
}

<!doctype html>
<html lang="es">
<head>
    <title>localhost</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://www.muebleshurtado.com:8080/imagen_muebleshurtado/foto_13_08_2018_09_19_17_369.png" rel="shortcut icon">

    <!--Seo Tags-->
    <meta name="title" content="MUEBLES HURTADO">
    <meta name="keywords" content="muebles, sillas, mesas, madera, oficina, dormitorios">
    <meta name="description" content="Portal de Muebles">
    <link href="http://www.muebleshurtado.com" hreflang="es" rel="alternate" title="MUEBLES HURTADO" type="text/html" />

    <!--Facebook Tags-->
    <meta property="og:title" content="MUEBLES HURTADO">
    <meta property="og:description" content="Portal de Muebles">
    <meta property="og:url" content="http://www.muebleshurtado.com">
    <meta property="og:image" content="foto_10_09_2018_18_57_44_983.png">
    <meta property="og:site_name" content="MUEBLES HURTADO">
    <meta property="og:type" content="article">

    <!--Twitter Tags-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="domobo">
    <meta name="twitter:title" content="MUEBLES HURTADO">
    <meta name="twitter:description" content="Portal de Muebles">
    <meta name="twitter:creator" content="domobo">
    <meta name="twitter:image" content="foto_10_09_2018_18_57_44_983.png">
    <script>
             var urlBase = "http://www.muebleshurtado.com";
    </script>
    <link rel="styleSheet" href="~/eliminar/styles/font-awesome.min.css" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/style.css" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/ipanorama/effect.css" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/ipanorama/ipanorama.css" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/ipanorama/ipanorama.theme.default.css" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/ipanorama/ipanorama.theme.modern.css" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/ipanorama/ipanorama.theme.dark.css" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/ipanorama/ipanorama.my-style.css?v=2" type="text/css">
    <link rel="styleSheet" href="~/eliminar/styles/style360.css" type="text/css">        <!-- COLOURS -->
    <style type="text/css">
        /* COLORES */
        /*.color_secondary*/
        .color_secondary {
            color: #007a3f !important;
        }

        .back_secondary {
            background: #007a3f !important;
        }

        .boder_secondary {
            border-color: #007a3f !important;
        }

        .header-wrapper.style-3 header::before,
        .my-modal .modal-dialog .modal-footer button[type="button"] {
            background: #007a3f !important;
        }

        .button.style-12 {
            border-color: #007a3f;
            background: #007a3f;
        }

        /*.color_primary*/
        .color_primary {
            color: #2e2017 !important;
        }

        .back_primary {
            background: #2e2017 !important;
        }

        .border_primary {
            border-color: #2e2017 !important;
        }

        body.style-3 .swiper-tabs .block-title:before,
        body.style-3 .bubbles span,
        body.style-3 .sidebar-navigation .title,
        body.style-3 .sidebar-navigation .entry:before,
        .my-modal .modal-dialog .modal-content .modal-header,
        .my-modal .modal-dialog .modal-footer button[type="submit"] {
            background: #2e2017 !important;
        }
    </style>
</head>
<body>
    <div class="btn-volver">
        <a href="#"><img src="~/eliminar/images/volver2.png" alt="volver" /></a>
    </div>
    <div id="mypanorama"></div>

    <!--<div class="overlay-popup" id="image-popup" style="z-index: 100000000 !important;">
        <div class="overflow">
            <div class="table-view">
                <div class="cell-view">
                    <div class="close-layer"></div>
                    <div class="popup-container cls_mapa">
                        <img class="gallery-image" src="http://www.muebleshurtado.com/assets/images/ipanorama/mhurtado/mapa.png" alt="img-mapa" />
                        <div class="close-popup"></div>
                        <span class="punto_mapa" style="left: 73.3%;top: 83%;" data-sceneid="scene1" data-area="A"></span>
                        <span class="punto_entrada" style="left: 69.5%;top: 90%;">ENTRADA</span>
                        <span class="punto_mapa" style="left: 73.3%;top: 65.5%;" data-sceneid="scene2" data-area="B"></span>
                        <span class="punto_mapa" style="left: 66.5%;top: 65.5%;" data-sceneid="scene3" data-area="C"></span>
                        <span class="punto_mapa" style="left: 65.5%;top: 53%;" data-sceneid="scene4" data-area="C2"></span>
                        <span class="punto_mapa" style="left: 61%;top: 65.5%;" data-sceneid="scene5" data-area="D"></span>
                        <span class="punto_mapa" style="left: 54.5%;top: 65.5%;" data-sceneid="scene6" data-area="E"></span>
                        <span class="punto_mapa" style="left: 54.5%;top: 53%;" data-sceneid="scene7" data-area="E2"></span>
                        <span class="punto_mapa" style="left: 47%;top: 65.5%;" data-sceneid="scene8" data-area="F"></span>
                        <span class="punto_mapa" style="left: 36.5%;top: 65.5%;" data-sceneid="scene9" data-area="G"></span>
                        <span class="punto_mapa" style="left: 29.5%;top: 65.5%;" data-sceneid="scene10" data-area="H"></span>
                        <span class="punto_mapa" style="left: 22.5%;top: 65.5%;" data-sceneid="scene11" data-area="I"></span>
                        <span class="punto_mapa" style="left: 10.5%;top: 65.5%;" data-sceneid="scene12" data-area="J"></span>
                        <span class="punto_mapa" style="left: 9.5%;top: 73%;" data-sceneid="scene13" data-area="J2"></span>
                        <span class="punto_mapa" style="left: 10.5%;top: 53%;" data-sceneid="scene14" data-area="K"></span>
                        <span class="punto_mapa" style="left: 10.5%;top: 43%;" data-sceneid="scene15" data-area="L"></span>
                        <span class="punto_mapa" style="left: 16.5%;top: 43%;" data-sceneid="scene16" data-area="L2"></span>
                        <span class="punto_mapa" style="left: 10.3%;top: 31%;" data-sceneid="scene17" data-area="M"></span>
                        <span class="punto_mapa" style="left: 10.5%;top: 18.6%;" data-sceneid="scene18" data-area="N"></span>
                        <span class="punto_mapa" style="left: 21.5%;top: 18.6%;" data-sceneid="scene19" data-area="O"></span>
                        <span class="punto_mapa" style="left: 20%;top: 31%;" data-sceneid="scene20" data-area="O2"></span>
                        <span class="punto_mapa" style="left: 31.5%;top: 18.6%;" data-sceneid="scene21" data-area="P"></span>
                        <span class="punto_mapa" style="left: 30%;top: 31%;" data-sceneid="scene22" data-area="P2"></span>
                        <span class="punto_mapa" style="left: 36.5%;top: 18.6%;" data-sceneid="scene23" data-area="Q"></span>
                        <span class="punto_mapa" style="left: 41.3%;top: 18.6%;" data-sceneid="scene24" data-area="R"></span>
                        <span class="punto_mapa" style="left: 46.5%;top: 18.6%;" data-sceneid="scene25" data-area="R2"></span>
                        <span class="punto_mapa" style="left: 41.3%;top: 31%;" data-sceneid="scene26" data-area="S"></span>
                        <span class="punto_mapa" style="left: 41.3%;top: 43%;" data-sceneid="scene27" data-area="T"></span>
                        <span class="punto_mapa" style="left: 46.5%;top: 43%;" data-sceneid="scene28" data-area="T2"></span>
                        <span class="punto_mapa" style="left: 41.3%;top: 53%;" data-sceneid="scene29" data-area="U"></span>
                        <span class="punto_mapa" style="left: 30%;top: 53%;" data-sceneid="scene30" data-area="U2"></span>
                        <span class="punto_mapa" style="left: 82.5%;top: 65.5%;" data-sceneid="scene31" data-area="V"></span>
                        <span class="punto_mapa" style="left: 81.5%;top: 73%;" data-sceneid="scene32" data-area="V2"></span>
                        <span class="punto_mapa" style="left: 89.5%;top: 65.5%;" data-sceneid="scene33" data-area="W"></span>
                        <span class="punto_mapa" style="left: 82.5%;top: 53%;" data-sceneid="scene34" data-area="X"></span>
                        <span class="punto_mapa" style="left:88.5%;top: 53%;" data-sceneid="scene35" data-area="X2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <script type="text/javascript" src="~/eliminar/scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/eliminar/scripts/ipanorama/three.min.js"></script>
    <script type="text/javascript" src="~/eliminar/scripts/ipanorama/jquery.ipanorama.min.js"></script>
    <script type="text/javascript" src="~/eliminar/scripts/ipanorama/MH1.js"></script>
    <script type="text/javascript">
            var urlBase = ".";

    </script>
</body>
</html>

